aiohappyeyeballs
aiohttp
aiosignal
alembic
amqp
annotated-types
anthropic
anyio
attrs
backoff
bcrypt
billiard
bonsai
cachetools
celery
celery-redbeat
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
# confluent-kafka
elasticsearch
cryptography
dataclasses-json
distro
dnspython
docker
Faker
fastapi
filetype
flower
frozenlist
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-bigquery
google-cloud-core
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
greenlet
groq
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
httpx-sse
humanize
idna
importlib_metadata
Jinja2
jiter
jsonpatch
jsonpointer
kombu
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-ollama
langchain-openai
langchain-text-splitters
langfuse
langgraph
langgraph-checkpoint
langgraph-checkpoint-postgres
langgraph-prebuilt
langgraph-sdk
langsmith
ldap3
lxml
Mako
MarkupSafe
marshmallow
multidict
mypy-extensions
mysql
mysql-connector-python
mysqlclient
numpy
ollama
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
oracledb
orjson
ormsgpack
packaging
pandas
passlib
pgvector
pillow
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psycopg
psycopg-binary
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic-settings
pydantic_core
PyJWT
pymongo
pyodb
pyodbc
pyparsing
PyPDF2
python-dateutil
python-docx
python-dotenv
python-multipart
pytz
PyYAML
RapidFuzz
redis
regex
requests
requests-toolbelt
rsa
six
sniffio
SQLAlchemy
sqlglot
sqlmodel
starlette
tenacity
tiktoken
tornado
tqdm
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
uv
uvicorn
vine
wcwidth
wrapt
yarl
zipp
zstandard
confluent-kafka
